<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <!-- <div id="#root">
        <div>我的姓是：<input type="text" v-model="firstName"></div>
        <div>我的名是：<input type="text" v-model="lastName"></div>
        <div>我的姓名：<input type="text" v-model="fullName"></div>
    </div> -->
    <!-- <div id="#root">
        <div>我的姓是：<input type="text" v-model="firstName"></div>
        <div>我的名是：<input type="text" v-model="lastName"></div>
        <div>我的姓名：<input type="text" v-model="fullName"></div>
    </div> -->
    <!-- <div id="#root">
        <div>我的姓是：<input type="text" v-model="firstName"></div>
        <div>我的名是：<input type="text" v-model="lastName"></div>
        <div>我的姓名：<input type="text" v-model="fullName"></div>
    </div> -->
    <script>
        // new Vue({
        //     el:'#root',
        //     data:{
        //         firstName:"周
        //         lastName:"璇
        //         fullName:周璇
        //     },
        //     watch: {
        //         firstName: {
        //         handler(newValue,oldValue) {
        //             console.log(val);
        //             this.fulIName = val + '-' + this.lastName
        //         }
        //     },
        //     lastName:{
        //         handler(newValue,oldValue) {
        //             console.log(val);
        //             this.fulUName = this.firstName + '-' + val
        //         }
        //     },
        //     fulIName:{
        //         handler(newValue,oldValue){
        //             console.log(newValue,oldValue);
        //             this.fulIName = this.firstName + '-' + val
        //         }
        //     },

        new Vue({
        //     el:'#root',
        //     data:{
        //         firstName:"周
        //         lastName:"璇
        //         fullName:周璇
        //     },
        //     watch: {
        //         firstName: {
        //         handler(newValue,oldValue) {
        //             console.log(val);
        //             this.fulIName = val + '-' + this.lastName
        //         }
        //     },
        //     lastName:{
        //         handler(newValue,oldValue) {
        //             console.log(val);
        //             this.fulUName = this.firstName + '-' + val
        //         }
        //     },
        //     fulIName:{
        //         handler(newValue,oldValue){
        //             console.log(newValue,oldValue);
        //             this.fulIName = this.firstName + '-' + val
        //         }
        //     },

        new Vue({
        //     el:'#root',
        //     data:{
        //         firstName:"周
        //         lastName:"璇
        //         fullName:周璇
        //     },
        //     watch: {
        //         firstName: {
        //         handler(newValue,oldValue) {
        //             console.log(val);
        //             this.fulIName = val + '-' + this.lastName
        //         }
        //     },
        //     lastName:{
        //         handler(newValue,oldValue) {
        //             console.log(val);
        //             this.fulUName = this.firstName + '-' + val
        //         }
        //     },
        //     fulIName:{
        //         handler(newValue,oldValue){
        //             console.log(newValue,oldValue);
        //             this.fulIName = this.firstName + '-' + val
        //         }
        //     },
    </script>
</body>
</html>